    .bodycontainer {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .carousel {
        position: relative;
        z-index: -1;
        height: 33rem;
    }

    .ourservices {
        font-family: monospace;
        height: 100%;
        margin: 0px 4rem;
        padding-bottom: 2rem;
        background: rgb(245, 244, 244);
    }

    .contenttext {
        padding-top: 3rem;
        height: 10rem;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .contenttext>h3 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 800;
        letter-spacing: 2px;
    }

    .contenttext>p {
        color: rgb(63, 63, 63);
    }

    .hexgonalcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hexagonaltext {
        height: 100%;
        width: 20%;
        display: block;
        justify-content: center;
        border: 2px solid rgb(234, 174, 61);
        text-align: center;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 0 15px rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
    }

    .hexagonaltext:hover {
        color: rgb(255, 149, 0);
    }

    .hexagonaltext>h3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .HiDotsHorizontal {
        margin: 1rem;
    }

    .hexadesign {
        display: flex;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .hexagon {
        width: 160px;
        height: 160px;
        background-color: rgb(255, 255, 255);
        margin: 20px;
        display: inline-block;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hexagoninner {
        width: 130px;
        height: 130px;
        background-color: rgb(234, 234, 234);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .honeyproductionlogo {
        color: orange;
        font-size: 4rem;
    }

    .servicebtn {
        /* height:5rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid green; */
        padding: 1rem 0rem 2rem 0rem;
    }

    .button-btn {
        position: relative;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(27, 26, 26);
        background-color: none;
        border: 2px solid orange;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        z-index: 1;
    }

    .button-btn::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background-color: rgb(255, 166, 0, 0.2);
        z-index: -1;
        transition: top 0.4s ease;
    }

    .button-btn:hover::before {
        top: 0;
        color: white;

    }

    .button-btn:hover {
        box-shadow: 0 0 15px rgb(255, 255, 255);
    }


    .products {
        margin: 0px 4rem;
        background: white;
    }

    .bodyproduct>h3 {
        margin: 2rem;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .productscontainer {
        height: 30rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* border: 2px solid red; */
    }

    .box {
        margin: 0px 2rem;
    }

    .ourproductsimage {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .circleproductcontainer {
        height: 30%;
        margin: 1rem 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .circleproduct {
        height: 70px;
        width: 85px;
        border-radius: 50%;
        margin: 0px 1rem;
        background: rgb(255, 199, 110);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 0 rgb(48, 48, 48);
    }

    .giicon {
        font-size: xx-large;
    }


    @media screen and (max-width:480px) {

        .bodycontainer {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            margin-top: 0;
        }

        .carousel {
            height: 10rem;
        }

        .carousel {
            margin-bottom: 0px;
        }

        .ourservices {
            margin-bottom: 0px;
            font-family: monospace;
            height: 100%;
            margin: 0px;
            padding-top: 0rem 1rem;
            background: rgb(245, 244, 244);
        }

        .hexgonalcontainer {
            display: block;
        }


        .hexagonaltext {
            height: 100%;
            width: 90%;
            display: block;
            justify-content: center;
            border: 2px solid rgb(234, 174, 61);
            text-align: center;
            border-radius: 10px;
            padding: 1rem;
            box-sizing: border-box;
            margin: 1rem;
            box-shadow: 0 0 15px rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
        }

        .HiDotsHorizontal {
            display: none;
        }

        .servicebtn {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .viewproductsbtn {
            height: 2rem;
            width: 14rem;
            position: relative;
            padding: 10px 30px;
            font-size: 1rem;
            font-weight: 900;
            color: rgb(27, 26, 26);
            background-color: none;
            border: 2px solid orange;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            z-index: 1;
        }

        .viewproductsbtn::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            background-color: orange;
            z-index: -1;
            transition: top 0.7s ease-in;
        }

        .viewproductsbtn:hover::before {
            top: 0;
            color: white;
            text-decoration: none;
        }

        .viewproductsbtn:hover {
            box-shadow: 0 0 15px rgb(255, 255, 255);
        }


        .products {
            height: 50rem;
            margin: 1rem;
            padding-bottom: 2rem;
            background: white;
        }

        .bodyproduct>h3 {
            margin: 0rem;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            letter-spacing: 2px;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
        }

        .productscontainer {
            height: 30rem;
            display: block;
        }


        .ourproductsimage {
            display: none;
        }



        .circleproductcontainer {
            height: 110px;
            margin: .7rem -2rem;
            background: white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid rgb(40, 40, 40);
            border-radius: 10px;
            box-shadow: 0 0 6px rgb(147, 147, 147);
        }

        .circleproduct {
            height: 60px;
            border-radius: 50%;
            margin: 0px .5rem;
            background: rgb(255, 199, 110);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 6px 0 rgb(48, 48, 48);
        }


    }