@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar.custom-navbar {
    height: 100%;
    width: 100%;
    padding: 1rem 6rem;
    background: white;
    display: grid;
    border-bottom: 2px solid grey;
    grid-template-columns: 1fr 2fr 1fr;
}

.logomi {
    color: rgb(255, 128, 0);
    font-size: 1.6rem;
}

.logocontainer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logocontainer>a {
    text-decoration: none;
}

.logocontainer>a>.logosvg {
    color: black;
}

.logocontainer>a>.farm {
    color: rgb(255, 128, 0);
}

.menulist {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* border: 2px solid red; */
}

.ullist {
    height: 100%;
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    display: flex;
}

.ullist>ul {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ullist>ul>li {
    padding: 0px 2rem;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.ullist>ul>li>a {
    text-decoration: none;
}

.active-link {
    color: rgb(255, 153, 0);
    border-bottom: 2px solid rgb(255, 153, 0);
}

.inactive-link {
    color: rgb(42, 41, 41);
}

.cart {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.logintextcontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 2rem;
}

.profilepic {
    height: 2.5rem;
    width: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profilepic>a {
    color: black;
}

.profileicon {
    font-size: 2.5rem;
}

.loginlink {
    text-decoration: none;
    color: black;
}

.loginlink:hover {
    color: white;
    border-radius: 6px;
    background: rgb(239, 165, 29);
}

.login {
    height: 2.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 128, 0);
    border-radius: 6px;
}

.login>button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0px 0.5rem;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
}

.accountcircle {
    color: rgb(255, 128, 0);
    font-size: 26px;
}

.lines {
    display: none;
}

.intimarkicon {
    display: none;
}

@media screen and (max-width: 480px) {
    .navbar .custom-navbar {
        height: 5rem;
        display: grid;
        padding-left: -10rem;
        margin: 0;
        justify-content: space-between;
        grid-template-columns: 1fr auto;
        border-bottom: none;
        position: absolute;
        /* border: 2px solid red; */
    }

    .logocontainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
        font-size: 1.7rem;
        width: 22rem;
        /* border: 2px solid green; */
        margin-left: -6rem;
    }

    .lines {
        border: 2px solid red;
        display: block;
    }

    .logocontainer>a {
        text-decoration: none;
    }

    .logosvg {
        color: rgb(35, 35, 35);
    }

    .logomi {
        color: rgb(255, 128, 0);
    }

    .farm {
        color: rgb(255, 128, 0);
    }

    .menulines {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-left: 9rem;
    }

    .menulist {
        display: none;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem;
        border-top: 1px solid grey;
        z-index: 1;
    }

    .logintextcontainer {
        display: none;
    }

    /* Show menu list when menulines is clicked */
    .navbar .show-menu .menulist {
        height: 13rem;
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        z-index: 1;
        position: absolute;
        top: 0;
        border: 2px solid red;
        flex-direction: column;
        justify-content: space-around;

    }

    .ullist>ul {
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .intimarkicon {
        display: block;
    }
}