* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.apppage {
    height: 100vh;
}

@media screen and (max-width:480px) {
    .apppage{
        height: 100vh;
        /* border: 2px solid green; */
    }
}